<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PTRtoNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <applicationSettings>
        <PTRtoNote.Properties.Settings>
            <setting name="Label_0_Min" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Label_1_Min" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="Label_2_Min" serializeAs="String">
                <value>-25</value>
            </setting>
            <setting name="Label_3_Min" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="Label_4_Min" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="Label_6_Hand_Max" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ReacquisitionSpanDays" serializeAs="String">
                <value>3650</value>
            </setting>
            <setting name="Label6ReacquisitionSpanDays" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="Logins" serializeAs="String">
                <value>louise1,louisex2,yylouise,louisetae,louisevvv,tifathefirst,tifadeuce,tifasan,tifashi,tifa-go,shanatan,xxshanaxx,shana4,sh55ana,tenshichan,angelbeat2,angeltaiga,tenoritaiga,aisakataiga,senjogahara,gaogaiga-,tokachi,eternalblizzard,girlsdead,dreameater,tweetImyme,aerithgains,aerithxzz,ttaebbrith,donttouchmine,firegainsok,hanaurinoshojo,kodaishunoikinokori,tifarockheart,oppai_butouka,boinboinfighter,kurokamilongOK,tifatan_no_oppai,mune_ga_okki,tifa_ha_ore_no_yome,yume_ga_oppai,oppai_ha_yume,dream_breast,hinatan_chuchu,GalaxyS2,ImNotaFish,YouAreTheFish,Louise,PowerSmash4,VirtualTennis2009,AHardDaysNight,IShouldHaveKnownBetter,IfIFeel,ImHappyJustToDanceWithYou,AndILoveHer,TellMeWhy,CantBuyMeLove,AnyTimeAtAll</value>
            </setting>
            <setting name="Passwords" serializeAs="String">
                <value>123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456,123456</value>
            </setting>
            <setting name="AccountNum" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="WaitMainTime" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="WaitRandTime" serializeAs="String">
                <value>2000</value>
            </setting>
        </PTRtoNote.Properties.Settings>
    </applicationSettings>
  <log4net>
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <!-- 作成するログファイル -->
      <param name="File" value="log/PTRtoNote_debug"/>
      <!-- 追加 -->
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="date "/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;.&quot;yyyy-MM-dd&quot;.log&quot;"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %l %c - %m%n"/>
      </layout>
      <!-- レベル制限 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <!-- 作成するログファイル -->
      <param name="File" value="log/PTRtoNote_info"/>
      <!-- 追加 -->
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="date "/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;.&quot;yyyy-MM-dd&quot;.log&quot;"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %l %c - %m%n"/>
      </layout>
      <!-- レベル制限 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <!-- 作成するログファイル -->
      <param name="File" value="log/PTRtoNote_error"/>
      <!-- 追加 -->
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="date "/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;.&quot;yyyy-MM-dd&quot;.log&quot;"/>
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %l %c - %m%n"/>
      </layout>
      <!-- レベル制限 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DebugLog"/>
      <appender-ref ref="InfoLog"/>
      <appender-ref ref="ErrorLog"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
