<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ONCDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ONCDaemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ONCDaemon.Properties.Settings>
            <setting name="HyperSatBuyinListName" serializeAs="String">
                <value>HyperSatBuyinList.txt</value>
            </setting>
        </ONCDaemon.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ONCDaemon.Properties.Settings>
            <setting name="PSHandHistoryFolder" serializeAs="String">
                <value>C:\poker\PokerStars\HandHistory\</value>
            </setting>
            <setting name="FTHandHistoryFolder" serializeAs="String">
                <value>C:\poker\FullTilt\</value>
            </setting>
            <setting name="DefaultStructure" serializeAs="String">
                <value>1,1</value>
            </setting>
        </ONCDaemon.Properties.Settings>
    </userSettings>
</configuration>