<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OpenNashCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <OpenNashCalculator.Properties.Settings>
            <setting name="DefaultStructure" serializeAs="String">
                <value>1,1</value>
            </setting>
            <setting name="BB" serializeAs="String">
                <value>50,100,200,400,600,800,1200,1600,2000,3000</value>
            </setting>
            <setting name="SB" serializeAs="String">
                <value>25,50,100,200,300,400,600,800,1000,1500</value>
            </setting>
            <setting name="Ante" serializeAs="String">
                <value>10,20,40,80,120,160,240,320,400,600</value>
            </setting>
            <setting name="StartingChip" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PlayerNum" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DefaultLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackColorOfMainForm" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="PreferredSeat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SetBBLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddonChip" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="AddonBB" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="AddonAnte" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="AutoCloseMin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxSeatNum" serializeAs="String">
                <value>10</value>
            </setting>
        </OpenNashCalculator.Properties.Settings>
    </applicationSettings>
</configuration>
