<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PTRDBContainer" connectionString="metadata=res://*/PTRDB.csdl|res://*/PTRDB.ssdl|res://*/PTRDB.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\src\atsu-test\poker\PTRtoNote2\PTRtoNote2Model\PTR.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>