<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTRtoNote2CUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PTRtoNote2CUI.Properties.Settings>
            <setting name="Label_Mins" serializeAs="String">
                <value>-1,-10,-25,-40,-60</value>
            </setting>
            <setting name="Label_Last_Hand_Max" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Reacquisition_Span_Days" serializeAs="String">
                <value>3650</value>
            </setting>
            <setting name="Label_Last_Reacquisition_Span_Days" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="Logins" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Passwords" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="Wait_Main_Time" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Wait_Rand_Time" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Max_Search_Num" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Max_BB_For_Listing" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="Old_Data_Delete_Span_Days" serializeAs="String">
                <value>365</value>
            </setting>
        </PTRtoNote2CUI.Properties.Settings>
    </applicationSettings>
</configuration>